$button-cancel-color: #eaeaea;
$button-error-color: $ai-input-border-hover;
$button-success-color: $ai-input-border-hover;
$button-add-color: $ai-secondary-light-green;
$button-border-radius: 5px;
// General
// btn-pair next-btn

.btn-common{
  padding: 8px 15px;
  font-size:16px;
  color:#fff;
  outline: none;
  font-weight: 300;
  background-color: #6C757D;
  border-radius: $button-border-radius;
  letter-spacing: 2px;
}

.btn-pair{
  @include rect(100%,40px);
  font-size:16px;
  color:#fff;
  outline: none;
  border-radius: $button-border-radius;
}

.back-btn{
  @include opacity-button;
  // background-color: $button-cancel-color;
  opacity: 0.7;
  border: 1px solid grey;
  color: grey;
}

.reset-btn{
  @include opacity-button;
  background-color: $button-error-color;
  opacity: 0.7;
}

.next-btn{
  @include scale-button;
  background-color: $button-success-color;
}

.add-btn-con {
  margin-bottom: 20px;
}

.add-btn {
  @include opacity-button;
  border: none;
  background-color: $button-add-color;
}
