.dog-tag-comp {
  @include rect(100%, 60px);
  padding: 0px 10px;

  .con-grp {
    height: 100%;
  }

  .avatar-container {
    img {
      @include square(40px);
      display: inline;
      vertical-align: middle;
    }
  }

  .content-container {
    padding-left: 10px;
    h5 {
      font-size: 18px;
      padding-top: 14px;
      margin-bottom: 0px;
    }

    .name-overflow {
      max-width: 130px;
      font-size: 13px;
      word-break: break-all;
      text-align: justify;
    }


    p {
      font-size: 14px;
    }

    .substite-badge {
      padding: 2px 5px;
      margin-left: 5px;
      border-radius: 4px;
      background-color: #2ecc71;
      color: #fff;
    }
  }
}