#body{

  height: 100%;
  .normal-outer-bg{
    overflow: hidden;
  }
  .global-bg{
    min-height: 100%;
    overflow: hidden;

    .global-content{
      position: relative;
      margin-top: 50px;
      min-height:500px;
      overflow: hidden;
    }
  }

  .content-user {
    .global-content{
      position: relative;
      padding: 50px 80px 0 80px;
      min-height:500px;
      overflow: hidden;
    }
  }


  .global-body{
    position: relative;
    margin-top: 80px;
    min-height:500px;
    overflow: hidden;

    .content-user {
      margin-left: 224px;
    }
  }

}