    // 工作清單
    .job-page-bg {
      .job-group {
        margin-top: 20px;
        margin-bottom: 20px;

        .title-row {
          margin-bottom: 20px;

          .btn-add {
            width: 120px;
            height: 35px;
            border-radius: 8px;
            color: #fff;
            background-color: $ailab-secondary;
            margin-left: 20px;
            margin-top: -6px;
          }
        }

        .job-card__mask {
          position: absolute;
          width: 300px;
          height: 200px;
          background-color: #6ec7cf;
          z-index: 10;
          transition: all .4s ease-in-out;
          opacity: 0;
          pointer-events: none;
          z-index: 10;
          display: flex;
          align-items: center;
          justify-items: center;

          .job-card__mask-options {
            width: 90px;
            display: flex;
            flex-direction: row;
            margin-left: auto;
            margin-right: auto;

            li {
              width: 70px;
              margin: auto 10px;
              text-align: center;

              button {
                margin-left: auto;
                margin-right: auto;
                display: flex;
                border-radius: 99em;
                margin-bottom: 2px;
                width: 45px;
                height: 45px;
                font-size: 27px;
                align-content: center;
                justify-content: center;
                color: #6ec7cf;
                opacity: 1;
                transition: all .2s ease-in-out;
                cursor: pointer;

                &:focus {
                  outline:none;
                }

                &:hover {
                  transform: scale(1.1);
                }
              }

              p {
                color: #fff;
                line-height: 20px;
                padding-top: 5px;
              }
            }
          }

          .snapshot-form {
            color: #fff;
            width: 280px;
            padding-left: 30px;

            .next-btn {
              width: 60px;
              float: right;
            }


          }
        }

        .job-card__mask--open {
          opacity: 1;
          pointer-events: initial;
        }

        .job-card {
          @include rect(300px, 200px);
          position: relative;
          padding-left: 25px;
          margin-bottom: 40px;
          min-height: 150px;
          text-align: left;
          border-bottom: 1px solid $ailab-secondary;
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.28);
          overflow: hidden;

          .btn-cancel {
            @include scale-button;
            position: absolute;
            top: 5px;
            right: 5px;
            cursor: pointer;
          }

          .btn-camera {
            display: block;
            outline: none;
            border: none;
            color: rgba(15, 26, 26, 0.5);
            position: absolute;
            float: right;
            right: 30px;
            top: 7px;
            cursor: pointer;
          }

          .job-card-status {
            margin-top: 32px;
            margin-bottom: 12px;
          }

          .light {
            @include circle(10px);
            @include margin(10px);
            margin-left: 0px;
            display: inline-block;
            // border: 1px solid $ai-main-grey;
            background-color: #fcec65;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5), inset 1px 0 1px 0 #f5a623;
          }

          .light-error {
            background-color: #E36457;
          }

          .light-Created {
            background-color: #FBD36B;
          }

          .light-Ready {
            background-color: #4BC3A1;
          }

          .status-word {
            font-size: 12px;
            letter-spacing: 0.7px;
            color: $ailab-light-text;
          }

          .job-card-id {
            margin-bottom: 30px;
            color: $ailab-primary-dark-text;
            font-size: 16px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 1px;
            cursor: default;

          }

          .job-card-id--disable {
            pointer-events: none;
          }

          .job-card-link-li {
            max-width: 220px;
            position: relative;
            display: block;
            word-break: break-all;

            .job-card-link {

              a, span {
                font-size: 14px;
                color: $ailab-primary-dark-text;
                opacity: 0.8;
                letter-spacing: 1px;
                cursor: pointer;

                &:hover {
                  opacity: 1;
                  text-decoration: underline;
                }
              }

              .divide-line {
                @include margin(7px);
                cursor: default;
              }

              &:nth-last-child(1) {
                .divide-line {
                  display: none;
                }
              }
            }
          }

          .corner-triangle {
            position: absolute;
            width: 0;
            height: 0;
            right: 0px;
            bottom: 0px;
            border-bottom: 30px solid $ailab-secondary;
            border-left: 30px solid transparent;

          }

        }
      }
    }