$list-view-font-size: 18px;
$list-view-li-height: 50px;
$list-view-li-margin: 30px;

.list-view-comp {

  .list-view-li {
    @include rect(initial, $list-view-li-height);
    margin-bottom: $list-view-li-margin;

    .col-icon {
      @include square(50px);
      text-align: center;
      img {
        @include rect-center(30px, 30px);
        display: inline;
        transform: translateY(-2px);
      }
    }
    .value-empty {
      color: $footer-info-gray;
    }
  }


  .list-view-li-dataset {
    height: initial;
    .col-grp {
      float: left;
    }
  }
}