.table-list-comp {
  thead {
    background-color: #2a9b9d;
    border-left: 1px solid #2a9b9d;
    border-right: 1px solid #2a9b9d;
    color: #fff;

    th {
      font-weight: 300;
    }

  }

  tbody {
    tr{

      border-left: 1px solid #eaeaea;
      border-right: 1px solid #eaeaea;
      cursor: default;

      &:nth-last-child(1) {
        border-bottom: 1px solid #eaeaea;
      }

      td {
        vertical-align: middle;

        .action-open-btn {
          border-radius: 99em;
          cursor: pointer;

          & > svg {
            transform: translateY(2px);
          }
        }

        .action-open-btn:hover + .action-menu {
          opacity: 1;
          pointer-events: initial;
        }
        .action-menu {
          position: absolute;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26);
          opacity: 0;
          pointer-events: none;
          z-index: 5;

          &:hover {
            opacity: 1;
            pointer-events: initial;
          }

          li {
            @include rect(80px, 50px);
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .2s ease-in-out;
            cursor: pointer;

            .action-btn {
              background-color: transparent;
              cursor: pointer;
              outline: none;

              .action-word {
                padding-right: 5px;
              }

              svg {
                transform: translateY(-1px);
              }
            }

            &:focus {
              outline: none;
            }

            &:hover {
              background-color: $ailab-super-light-green;
            }


          }
        }
      }

    }
  }
}