#notification-wrapper {  
  .toast-notification {
    width: 100% !important;
    top: 80px !important;
    z-index: 45 !important;
    span {
      display: inline-block !important;
      width: 100% !important;
      color: #fff !important;
    }
  }
}

