.user-bg {

  .row-01 {
    margin-top: 40px;
  }

  .side-menu-wrap {
    
    position: absolute;
    min-height: 1500px;
    background-color: #f8f4f4;
  
  }

  .user-container {
    width: 80%;
    margin-left: 225px;
    padding-left: 80px;
    padding-top: 40px;
    margin-bottom: 130px;

    .common-title-con {
      h1 {
        font-size: 36px;
        letter-spacing: 1.5px;
        color: $ailab-primary-dark-text;  
        font-weight: 600;
        cursor: default;
      }

      h6 {
        margin-top: 15px;
        // margin-bottom: 35px;

      }
    }

    .user-course-bg {
      width: 1000px;

      .col {
        // text-align: right;
        h1 {
          text-align: left;
        }

      }

      .col-second {
        margin-bottom: 20px;
      }

      .table-list-comp {
        .btn-student {
          font-size: 12px;
          border-radius: 2px;
          color: $ailab-primary-dark-green;
          border: 1px solid $ailab-primary-dark-green;

          cursor: pointer;

          &:hover {
            // background-color: #ddd;

            // color: #fff;
          }
        }
      }
      

      .add-btn {
        @include rect(120px, 35px);
        margin-left: auto;
        display: inline;
        border-radius: 4px;
      }

    }


    .user-course-edit-bg {
      .form-group {
        .main-label {
          font-size: 18px;
          color: $ailab-black-text;
          letter-spacing: 0.1px;
          font-weight: 400;
        }
      }

      .submit-bg {
        margin-bottom: 100px;
      }

    }
  }
}

