.course-bg {
  min-height: 800px !important;

  .section-01 {

    .title { 
      @include center;
      text-align: center;
      font-size: 36px;
      margin-top: 70px;
      margin-bottom: 20px;
    }

    .table-container {
      @include rect-center(1000px, initial);
    }
  }
}