#body{

  height: 100%;
  .normal-outer-bg{
    overflow: hidden;
  }
  .global-bg{
    min-height: 100%;
    overflow: hidden;

    .global-content{
      position: relative;
      margin-top: 80px;
      min-height:500px;
      overflow: hidden;
    }
  }
}