.user-bg {
  .side-menu-wrap {
  
    min-height: 500px;
    position: relative;
    background-color: #f8f4f4;
  
  }

  .user-container {
    padding-left: 80px;
    padding-top: 100px;

    .user-course-bg {
      width: 1000px;
    }
  }


}

