.user-bg {
  .side-menu-wrap {
    
    position: absolute;
    min-height: 1500px;
    background-color: #f8f4f4;
  
  }

  .user-container {
    width: 80%;
    margin-left: 225px;
    padding-left: 80px;
    padding-top: 36px;

    .common-title-con {
      h1 {
        font-size: 36px;
        letter-spacing: 1.5px;
        color: $ailab-primary-dark-text;  
        font-weight: 600;
        cursor: default;
      }

      h6 {
        margin-top: 15px;
        margin-bottom: 35px;

      }
    }

    hr {
      margin-top: 36px;
      margin-bottom: 60px;
    }

    .user-course-bg {
      width: 1000px;

      .col {
        text-align: right;
        h1 {
          text-align: left;
        }

      }

      .add-btn {
        @include rect(120px, 35px);
        margin-left: auto;
        display: inline;
        border-radius: 4px;
      }

    }


    .user-course-edit-bg {
      .form-group {
        .main-label {
          font-size: 18px;
          color: $ailab-black-text;
          letter-spacing: 0.1px;
          font-weight: 400;
        }
      }

      .submit-bg {
        margin-bottom: 100px;
      }

    }


    // 工作清單
    .user-job-bg {
      .job-group {

        margin-bottom: 20px;

        .job-card {
          @include card-1;
          position: relative;
          padding-top: 20px;
          min-height: 150px;
          text-align: center;

          .btn-cancel {
            @include scale-button;
            position: absolute;
            top: 5px;
            right: 5px;
            cursor: pointer;
          }
          

          .job-card-status, .job-card-id {
            margin-bottom: 20px;
          }

          .light {
            @include circle(10px);
            @include margin(10px);
            display: inline-block;
            border: 1px solid $ai-main-grey;
          }

          .light-error {
            background-color: #E36457;
          }

          .light-Created {
            background-color: #FBD36B;
          }

          .light-Ready {
            background-color: #4BC3A1;
          }


        }
      }
    }


  }


}

